// Fonts
@font-face {
	font-family: 'Bodoni Classic Bold';
	src: url('fonts/Bodoni\ Classic/Bodoni\ Classic\ Bold/Bodoni\ Classic\ Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

$font-headline: 'Bodoni Classic Bold';
$font-titles: 'Open Sans';
$font-content: 'Nunito';

// Color pallette

$color-black: #272727;
$color-darkblue: #263749;
$color-lighgrey: #b0b7b7;
$color-white: #eff0f0;

// Initial setup

html {
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin debug {
	border: 1px solid red;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-areas:
		'headline headline'
		'extra-info main-content';

	margin: 0;
	padding: 0;
	font-family: $font-content;

	header {
		grid-area: headline;
	}

	main {
		grid-area: main-content;
	}

	aside {
		grid-area: extra-info;
	}
}

h1 {
	font-family: $font-headline, serif;
	letter-spacing: 0.4rem;
	font-size: 7rem;
	font-variant: small-caps;
}

h1::before {
	content: '';
	width: 50vw;
	height: 2px;
	background-color: $color-white;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: -50vw;
	right: 1em;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h3 {
	border-style: none none solid none;
	border-color: $color-lighgrey;
	border-width: 1px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 3rem 0;

	background-color: $color-darkblue;
	color: $color-white;

	// @include debug();

	p {
		font-family: $font-titles;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 0.4rem;
	}

	p::after {
		content: '';
		display: inline-block;
		width: 50vw;
		height: 2px;
		margin-right: -50vw;
		position: relative;
		left: 5em;
		vertical-align: middle;
		background-color: $color-white;
	}
}

.examples {
	box-sizing: border-box;

	img {
		max-width: 100%;
		height: auto;
	}
}
